<div class="row">
  <div class="small-12 columns">
    {{name}}
  </div>
  <div class="small-12 columns">
    {{street}}
  </div>
  <div class="small-12 columns">
    {{city}}
  </div>
  <div class="small-12 columns">
    {{email}}
  </div>
  <div class="small-12 columns">
    {{phone}}
  </div>
</div>
