<div class="row">
  <div class="small-12 columns">
    <h1>{{name}}</h1>
  </div>
  <div class="small-12 columns">
    {{street}}
  </div>
  <div class="small-12 columns">
    {{city}}
  </div>
  <div class="small-12 columns">
    {{email}}
  </div>
  <div class="small-12 columns">
    {{phone}}
  </div>
  <div class="small-12 columns">
    <a href="https://github.com/{{github}}">github.com/{{github}}</a>
  </div>
</div>
